.site-footer {
    margin-top: var(--section-gap);
    padding-top: var(--section-gap);
    display: grid;
    grid-template-columns: var(--grid-container);
    background-color: var(--color-light-blue);
    z-index: 999;
    overflow: hidden;
    
    &__inner {
        grid-column: inner;
    }
    
    &__content {
        justify-content: center;
        align-items: center;
        columns: 3;
        justify-content: space-evenly;
    }
    
    &__bottom {
        justify-content: space-between;
        align-items: center;
        margin-top: var(--section-gap);
        margin-bottom: 1rem;
    }
}

.footer-headline {
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
}

.footer-menu__link {
    text-decoration: none; 
    &:hover {
        cursor: pointer;
        color: var(--color-accent);
    }   
}

.footer-menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-arrow {
    margin-left: 15px;
    max-width: 30px;
}

.footer-text {
    line-height: 1;
}

/* Responsivitet 750px */
@media screen and (max-width: 750px) {
    .footer-menu__link {
        display: none;
    }

    .footer-menu__list {
        display: none;
    }

    .footer-text {
        display: none;
    }

    .site-footer__content {
        display: flex;
        flex-direction: column;
    }

    .footer-headline {
        margin-bottom: 0px;
    }

    .footer-title {
        margin: 0;
        padding: 0;
    }

    .footer-title__contact {
        margin: 0px;
        padding: 0px;
    }

    .footer-arrow {
        display: none;
    }
}