* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-sans);
    font-size: var(--font-size-1);
    color: var(--color-dark);
    background-color: #FCFCFC;
}

figure {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.container {
    grid-template-columns: var(--grid-container);
    grid-column: inner;
}

/* Hero Sektion */
.hero {
    min-height: calc(100vh + var(--section-gap-inner));
    display: grid;
    grid-template-columns: var(--grid-container);
    background-image: url(/assets/images/travel.jpg);
    background-size: cover;
    
    &__inner {
        grid-column: inner;
        display: grid;
        grid-template-columns: var(--grid-content);
        
    }
    
    &__content {
        grid-column: 8 / 13;
        margin-top: 35%;
        text-align: center;
    }
}


/* Formulär */
.site-form {
    display: grid;
    grid-template-columns: var(--grid-container);
    
    &__inner {
        grid-column: inner;
        display: grid;
        grid-template-columns: var(--grid-content);
    }
    
    &__content {
        background-color: #F6F6F6;
        grid-column: 1 / 7;
        z-index: 999;
        overflow-y: hidden;
        margin-top: -50%;
        box-shadow: 10px 10px 35px;
        padding: 20px;
    }
    
    &__title {
        text-align: center;
    }
    
    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.3rem;
    }
}

.loan-form {
    display: grid;
    margin-top: 40px;
}

/* Ansökningsformulär: Fyll i önskat lån */
.form-section {
    display: grid;
    grid-template-columns: var(--grid-container);

    &__inner {
        grid-column: inner;
    }
}


.level {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    
    &__headline {
        font-size: 16px;
    }
}


.input {
    background-color: var(--color-light-blue);
    border-radius: 60px 60px 60px 60px;
    border: 1px solid var(--color-orange);
    width: 170px;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

/* Submit sin förfrågan */
.form-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    
    &__button {
        background-color: var(--color-accent);
        border: none;
        border-radius: 50px 0px 50px 0px;
        padding-left: 5rem;
        padding-right: 5rem;
        &:hover {
            cursor: pointer;
            background-color: var(--color-light-blue);
        }
    }
    
    &__title {
        color: var(--color-light);
        font-weight: 300;
        text-align: center;
        margin: 1.4rem;
    }
}

.form-approval__text {
    text-align: center;
    padding: 30px;
    padding-bottom: 0;
    font-size: 14px;
}


.form-legal__text {
    text-align: center;
    padding: 20px;
    font-size: 10px;
}

/* Fördelar med lån */
.loan-pros {
    display: grid;
    grid-template-columns: var(--grid-container);
    
    &__inner {
        grid-column: inner;
        display: grid;
        grid-template-columns: var(--grid-content);
    }
    
    &__content {
        margin-top: -500px;
        grid-column: 9 / 13;
    }
    
    &__list {
        display: flex;
        align-items: center;
    }
    
    &__text {
        margin-left: 40px;
        line-height: 1;
    }
    
    &__review {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 60px;
    }
}
  
/* Se ditt beräknade låneförslag */
.result-section {
    display: grid;
    grid-template-columns: var(--grid-container);
    margin-top: var(--section-gap);
}

.result__columns {
    grid-column: inner;
    display: grid;
}

.result__content {
    columns: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.column {
    width: 350px;
    height: 180px;
    border-bottom: 2px solid var(--color-accent);
}

.result-notification__primary {
    text-align: center;
}

.result-notification__info {
    text-align: center;
}

.result-notification__link {
    text-align: center;
}

.result__text {
    background-color: var(--color-accent);
    font-size: 22px;
    color: var(--color-light);
    font-weight: 300;
}

.result__calculation {
    font-size: 22px;
    padding-top: 30px;
}

/* Samarbetspartners */
.partners {
    margin-top: 200px;
    display: grid;
    grid-template-columns: var(--grid-container);
    
    &__inner {
        grid-column: inner;
    }
    
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        columns: 2;
    }
    
    &__info {
        display: grid;
        margin-bottom: 100px;
        margin: 2rem;
    }
    
    &__headline {
        grid-column: 1 / 4;
    }
    
    &__image {
        display: flex;
        flex-direction: column;
    }
    
    &__collaboration {
        grid-column: 8 /12;
        max-width: 100%;
    }
    
    &__arrows {
        display: flex;
        justify-content: space-evenly;
        margin-top: 100px;
    }
}

/* Article Sektion */
.article {
    margin-top: 180px;
    display: grid;
    grid-template-columns: var(--grid-container);
    
    &__inner {
        grid-column: inner;
        display: grid;
    }
    
    &__content {
        display: flex;
        align-items: center;
    }
}


.content__one {
    margin: 40px;
    padding: 10px;
}

.content__two {
    margin: 40px;
    padding: 10px;
}

.content__image {
    max-width: 80%;
    box-shadow: 80px 30px #82B1FF;
    margin-bottom: 30px;
}

.content__link {
    display: flex;
    justify-content: right;
}

.content__text {
    line-height: 3;
    font-size: 14px;
}

/* Sambla förklarar - så fungerar det */
.how-to {
    background-color: var(--color-light-blue);
    margin-top: var(--section-gap);
    display: grid;
    grid-template-columns: var(--grid-container);
    padding-bottom: var(--menu-height);
    
    &__inner {
        grid-column: inner;
        display: grid;
    }
    
    &__section {
        display: flex;
        margin-top: 60px;
        margin-left: 200px;
        margin-bottom: 70px;
        align-items: center;
    }
    
    &__arrow {
        margin-left: 70px
    }
    
    &__content {
        columns: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
    }
    
    &__box {
        margin: 10px;
    }
    
    &__number {
        color: var(--color-orange)
    }
}

/* Vanliga frågor */
.questions {
    margin-top: var(--section-gap);
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: var(--grid-container);
    
    &__inner {
        grid-column: inner;
        display: grid;
    }

    &__content {
        display: grid;
    }
    
    &__intro {
        display: flex;
        grid-column: 6 / 11;
        justify-content: space-evenly;
        margin-top: var(--section-gap);
        margin-bottom: var(--section-gap);
    }

    &__image {
        display: grid;
    }
    
    &-image__bottom {
        grid-column: 3 / 5;
        max-width: 80%;
    }
    
    &-image__top {
        display: flex;
        grid-column: 4 / 6;
        box-shadow: 10px 10px 35px;
        max-width: 90%;   
        margin-top: -30rem;     
    }
    
    &__section {
        grid-column: 6 / 11;
    }
    
    &__button {
        display: flex;
        background-color: #448AFF;
        border-radius: 50px 0px 50px 0px;
        border-color: #448AFF;
        width: 400px;
        margin: 40px;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
            background-color: var(--color-light-blue);
        }
    }
    
    &__text {
        color: var(--color-light);
        font-weight: 300;
    }
}

/* Responsivitet 1170px */
@media screen and (max-width: 1170px) {
    /* Loan pros */
    
    .loan-pros__content {
        margin-top: -500px;
        grid-column: 8 / 12;
    }
    
    /* Sambla förklarar: How to */
    .how-to {
        background-color: var(--color-light-blue);
        margin-top: var(--section-gap);
        display: grid;
        grid-template-columns: var(--grid-container);
        padding-bottom: var(--menu-height);
    }
    
    .how-to__inner {
        grid-column: inner;
        display: grid;
    }
    
    .how-to__section {
        display: flex;
        margin-top: 60px;
        margin-left: 200px;
        margin-bottom: 40px;
        align-items: center;
    }
    
    .how-to__arrow {
        margin-left: 70px
    }
    
    .how-to__content {
        display: none;
        display: grid;
        justify-content: left;
        text-align: left;
    }
    
    .how-to__box {
        margin: 0px;
    }

    .questions__image {
        display: grid;
    }
    
.questions-image__bottom {
        grid-column: 3 / 6;
        max-width: 80%;
    }
    
.questions-image__top {
        display: none;     
    }
    
    .questions__section {

    }
}

/* Responsivitet 1080px */
@media screen and (max-width: 1080px) {
    /* Formulär */
    .form-section {
        display: grid;
        grid-template-columns: var(--grid-container);
    }
    
    .form-section__inner {
        grid-column: inner;
    }
    
    .level {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }
    
    .level__headline {
        font-size: 16px;
    }
    
    .input {
        background-color: var(--color-light-blue);
        border-radius: 60px 60px 60px 60px;
        border: 1px solid var(--color-orange);
        width: 120px;
        height: 30px;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
    
    /* Submit sin förfrågan */
    .form-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
    }
    .form-submit__button {
        background-color: var(--color-accent);
        border: none;
        border-radius: 50px 0px 50px 0px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        &:hover {
            cursor: pointer;
            background-color: var(--color-light-blue);
        }
    }
    
    .form-submit__title {
        color: var(--color-light);
        font-weight: 400;
        text-align: center;
        margin: 1.4rem;
    }
    
    .form-approval__text {
        text-align: center;
        padding: 10px;
        padding-bottom: 0;
        font-size: 14px;
    }
    
    
    .form-legal__text {
        text-align: center;
        padding: 10px;
        font-size: 10px;
    }
    
    /* Loan pros */
    .loan-pros__headline {
        font-size: 22px;
    }

    .loan-pros__content {
        margin-top: 100px;
        grid-column: 8 / 12;
        margin-top: -500px;
    }

    /* Calculated result */
    .result__content {
        display: none;
        display: grid;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
}

/* Responsivitet 1000px */
@media screen and (max-width: 1000px) {
    /* Partners */
    .partners {
        margin-top: 200px;
        display: grid;
        grid-template-columns: var(--grid-container);
    }
    
    .partners__inner {
        grid-column: inner;
    }
    
    .partners__content {
        justify-content: center;
        align-items: center;
    }
    
    .partners__info {
        display: grid;
        margin-bottom: 100px;
        margin: 2rem;
    }
    
    .partners__headline {
        grid-column: 1 / 4;
    }
    
    .partners__image {
        display: flex;
        flex-direction: column;
    }
    
    .partners__collaboration {
        grid-column: 8 /12;
        max-width: 100%;
    }
    
    .partners__arrows {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }

}

/* Responsivitet 980px */
@media screen and (max-width: 980px) {
    /* Hero sektion */
    .hero__content {
        grid-column: 1 / 7;
        margin-top: 70%;
        margin-bottom: 100px;
        text-align: center;
    }

    .hero__title {
        font-size: 22px;
    }

    /* Formulär */
    .site-form__title {
        font-size: 22px;
    }
    .form-section {
        display: grid;
        grid-template-columns: var(--grid-container);
    }
    
    .form-section__inner {
        grid-column: inner;
    }
    
    .level {
        display: none;
        display: grid;
        justify-content: left;
        margin-left: 50px;
        text-align: center;
    }
    
    .level__headline {
        font-size: 16px;
    }
    
    .input {
        background-color: var(--color-light-blue);
        border-radius: 60px 60px 60px 60px;
        border: 1px solid var(--color-orange);
        width: 230px;
        height: 30px;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
    
    /* Submit sin förfrågan */
    .form-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
    }
    .form-submit__button {
        background-color: var(--color-accent);
        border: none;
        border-radius: 50px 0px 50px 0px;
        padding-left: 1rem;
        padding-right: 1rem;
        &:hover {
            cursor: pointer;
            background-color: var(--color-light-blue);
        }
    }
    
    .form-submit__title {
        color: var(--color-light);
        font-weight: 300;
        text-align: center;
        margin: 1.4rem;
        font-size: 18px;
    }
    
    .form-approval__text {
        text-align: center;
        padding: 5px;
        padding-bottom: 0;
        font-size: 10px;
        line-height: 1.2rem;
        margin-top: 1.4rem;

    }
    
    
    .form-legal__text {
        text-align: center;
        padding: 2px;
        font-size: 10px;
    }
    
    /* Loan pros */
    .loan-pros__headline {
        font-size: 22px;
    }

    /* Calculated result */
    .result__content {
        display: none;
        display: grid;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
}

/* Responsivitet 950px */
@media screen and (max-width: 950px) {

    .hero {
        min-height: calc(100vh + var(--section-gap-inner));
        display: grid;
        grid-template-columns: var(--grid-container);
        background-image: url(/assets/images/travel.jpg);
        background-size: cover;
    }

    .hero__content {
        grid-column: inner;
        margin-top: 11rem;
        text-align: center;
        grid-column: 4 / 11;
        margin-right: 4rem;
    }
    /* Loan pros */
    .loan-pros {
        display: none;
    }
    
    .site-form {
        display: grid;
        grid-template-columns: var(--grid-container);
    }
        
    .site-form__inner {
            grid-column: inner;
            display: grid;
            grid-template-columns: var(--grid-content);
        }
        
    .site-form__content {
            background-color: #F6F6F6;
            grid-column: 1 / 13;
            z-index: 999;
            overflow-y: hidden;
            margin-top: -30%;
            box-shadow: 10px 10px 35px;
            padding: 20px;
        }
        
    .questions__content {
            display: grid;
        }
        
    .questions__intro {
            display: flex;
            grid-column: 6 / 11;
            justify-content: space-evenly;
            margin-top: var(--section-gap);
            margin-bottom: var(--section-gap);
        }
        
    .questions__image {
            display: grid;
        }
        
    .questions-image__bottom {
            grid-column: 3 / 7;
            max-width: 80%;
        }
        
    .questions-image__top {
            display: none;     
        }
        
    .questions__section {
            grid-column: 6 / 11;
        }
    
        .form-section {
            display: grid;
            grid-template-columns: var(--grid-container);
        
            &__inner {
                grid-column: inner;
            }
        }
        
        
        .level {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            
            &__headline {
                font-size: 16px;
            }
        }
}

/* Responsivitet 840px */
@media screen and (max-width: 840px) {
    .questions-image__bottom {
        display: none;
    }

    .questions__section {
        
    }
    
    .questions__button {
        display: flex;
        flex-direction: column;
        margin: 0px 0px 2rem 0px;
        padding: 0px
    }
    
    .questions__text {
        color: var(--color-light);
        font-weight: 300;
        margin: 0px;
        padding: 0px;
    }
}

/* Responsivitet 810px */
@media screen and (max-width: 810px) {
    
    /* Partners */
    .partners {
        margin-top: 200px;
        display: grid;
        grid-template-columns: var(--grid-container);
    }
    
    .partners__inner {
        grid-column: inner;
    }
    
    .partners__content {
        justify-content: center;
        align-items: center;
    }
    
    .partners__info {
        display: grid;
        margin-bottom: 100px;
        margin: 2rem;
    }
    
    .partners__headline {
        grid-column: 1 / 4;
        font-size: 22px;
    }
    
    .partners__image {
        display: flex;
    }
    
    .partners__collaboration {
        max-width: 100%;
    }

    /* Article */
    .content__title {
        font-size: 22px;
    }
    .content__text {
        line-height: 1.8rem;
    }

    .content__image {
        max-width: 100%;
        box-shadow: 20px 5px #82B1FF;
        margin-bottom: 30px;
    }
}

/* Responsivitet 630px */
@media screen and (max-width: 630px) {
    .level {
        display: flex;
        flex-direction: column;
        margin-right: 3rem;
    }
}

/* Responsivitet 530px */
@media screen and (max-width: 530px) {
    /* Partners */
    .partners {
        margin-top: 200px;
        display: grid;
        grid-template-columns: var(--grid-container);
    }
    
    .partners__inner {
        grid-column: inner;
    }
    
    .partners__content {
        justify-content: center;
        align-items: center;
    }
    
    .partners__info {
        display: grid;
        margin-bottom: 100px;
        margin: 2rem;
    }
    
    .partners__headline {
        grid-column: 1 / 4;
        font-size: 22px;
    }
    
    .partners__image {
        display: flex;
    }
    
    .partners__collaboration {
        max-width: 100%;
    }

    .partners__arrows {
        width: 41px;
        height: 31px;
    }

    /* Article */
    .content__title {
        font-size: 24px;
    }
    
    .content__text {
        font-size: 18px;
        line-height: 1.8rem;
    }

    .content__image {
        max-width: 100%;
        box-shadow: 30px 10px #82B1FF;
        margin-bottom: 30px;
    }
    
}

/* Responsivitet 450px */
@media screen and (max-width: 450px) {
    .form-submit__button {
        margin: 0px;
        padding: 0px;
    }
}